@use "sass:math";

@function stripUnit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return math.div($number, ($number * 0 + 1));
  }
  @return $number;
}

@function calcFluidFontSize($fontMin, $fontMax, $widthMin, $widthMax, $units: px) {
  $fontMin: stripUnit($fontMin);
  $fontMax: stripUnit($fontMax);
  $widthMin: stripUnit($widthMin);
  $widthMax: stripUnit($widthMax);

  $k: calc(($fontMax - $fontMin)/($widthMax - $widthMin));
  $b: $fontMin - $k * $widthMin;

  $b: $b + $units;

  @return calc( #{$k} * 100vw + #{$b} );
}

/**
* font-size = viewport > $widthMax ? $fontMax : viewport < $widthMin ? $fontMin : fluid
* $fallback - initial value for old browsers (without support of vw units)
**/
@mixin fluidFontSize($fontMin, $fontMax, $widthMin, $widthMax, $fallback: false) {
  font-size: $fontMin;

  @media (min-width: $widthMin) {
    @if ($fallback) {
      font-size: $fallback;
    }
    font-size: calcFluidFontSize($fontMin, $fontMax, $widthMin, $widthMax, px);  
  }
  @media (min-width: $widthMax) {
    font-size: $fontMax;
  }
}

$headerHeight: 75px;
$footerHeight: auto;

body { 
  display: grid;
  // ASCII-графика, сетка 3x2
  grid-template-areas: 
    "header header"
    "left main"
    "footer footer";
  grid-template-rows: $headerHeight 1fr $footerHeight;
  grid-template-columns: 20% 1fr;
  grid-gap: 10px;
  @include fluidFontSize(16px, 24px, 480px, 1280px, 18px);
}

@media all and (max-width: 575px) {
  body { 
    grid-template-areas: 
      "header"
      "main"
      "left"
      "footer";
    grid-template-rows: $headerHeight 1fr auto $footerHeight;  
    grid-template-columns: 1fr;
  }
}

.container {
  padding: 0 20px 20px 20px;
  background: gold;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 20% 1fr;
  grid-gap: 10px;
}
.left {
  grid-area: left;
}
.main { 
  grid-area: main;      
}
.footer { 
  grid-area: footer; 
  display: grid;
  grid-template-areas: "footer__heading footer-subscribe";
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  .footer__heading {
    grid-area: footer__heading; 
  }

  .footer-subscribe {
    grid-area: footer-subscribe;
    display: flex;
    flex-direction: column;
    text-align: center;

    .footer-subscribe__form {
      display: flex;

      $formItemsHeight: 50px;
      .footer-subscribe__input {
        width: 100%;
        height: $formItemsHeight;
        border-radius: 22px 0 0 22px;
        border: none;
        background-color: #FFF;
        text-indent: 22px;
        outline: none;
        opacity: 0.8;
      }

      .footer-subscribe__btn {
        width: 100px;
        height: $formItemsHeight;
        border-radius: 0 22px 22px 0;
        border: none;
        background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
        color: #FFFFFF;
        cursor: pointer;
      }
    }
  }
}

@media all and (max-width: 575px) {
  .footer { 
    grid-template-areas: 
      "footer__heading"
      "footer-subscribe";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
  }
}

.top-menu {
  .top-menu__link {
    display: inline-block;
    text-decoration: none;
    line-height: $headerHeight;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
      background-color: #FFF;
    }
  }
}
.top-menu_right {
  text-align: right;
}

.goods {
  display: grid;
  grid-template-rows: 500px;
  grid-auto-rows: 500px; // For implicit rows
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;

  .goods-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #FFF;
    border: #DFC4C4 1px solid;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      box-shadow: 5px 5px 10px #f5d7db, -5px -5px 20px #f5d7db;
    }

    .goods-item__img {
      height: 50%;
      width: 100%;
      object-fit: contain;
    }

    .goods-item__price {
      @include fluidFontSize(16px, 30px, 480px, 1280px, 18px);
    }

    .goods-item__btn {
      height: 40px;
      border: none;
      background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
      color: #FFF;
      font-size: 20px;
      width: 95%;
      transition: all 100ms ease-out;

      &:hover {
        width: 100%;
      }

      &:active {
        width: 80%;
      }
    }
  }
}


